<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism-autolinker.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism-line-numbers.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism-line-highlight.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! Prism Scripts }}
    <script src="{{asset "_components/prism/prism.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-aspnet.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-bash.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-c.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-clike.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-coffeescript.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-cpp.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-csharp.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-css-extras.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-gherkin.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-go.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-groovy.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-http.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-java.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-jade.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-nsis.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-php.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-php-extras.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-python.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-ruby.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-scss.js"}}"></script>
    <script src="{{asset "_components/prism/components/prism-sql.js"}}"></script>
    <script src="{{asset "_components/prism/plugins/autolinker/prism-autolinker.js"}}"></script>
    <script src="{{asset "_components/prism/plugins/line-numbers/prism-line-numbers.js"}}"></script>
    <script src="{{asset "_components/prism/plugins/line-highlight/prism-line-highlight.js"}}"></script>

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
