{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        <div id="menuzord" class="menuzord">
          <ul class="menuzord-menu">
            {{#if @blog.logo}}<li><a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a></li>{{/if}}
            <li><a href='#'>Clients</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <div class="grid">
                    <figure class="effect-bubba">
                      <img src="/content/images/2015/03/dale-lari-bus.jpg">
                      <figcaption>
                        <h2>Dale Lari</h2>
                        <p>A Global Soccer Project</p>
                        <a href="/dale-lari-a-global-soccer-project/">Explore</a>
                      </figcaption>
                    </figure>
                    <figure class="effect-bubba">
                      <img src="/content/images/2015/03/jose-and-sons-logo-sketch.png">
                      <figcaption>
                        <h2>Jose and Sons</h2>
                        <p>Branding</p>
                        <a target="_blank" href="https://medium.com/@iamsaul_/rebranding-jose-sons-3fc3d844fc05">Explore</a>
                      </figcaption>
                    </figure>
                  </div><!-- .grid -->
                </div><!-- .megamenu-row -->
              </div><!-- .megamenu -->
            </li>
            <li><a href='#'>Latest posts</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <ul>
                  {{#foreach posts}}
                    <li>
                      <a href="{{url}}">{{{title}}}</a>
                    </li>
                  {{/foreach}}
                  </ul>
                </div><!-- .megamenu-row -->
              </div><!-- .megamenu -->
            </li>
            <li><a href='#'>Hiring</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Onboarding</strong>
                    <ul>
                      <li><a href="https://robots.thoughtbot.com/automate-and-iterate-onboarding">Make Your New Hires Feel Welcome</a><i class="fa fa-hand-o-left"></i></li>
                    </ul>
                  </div><!-- .col4 -->
                </div><!-- .megamenu-row -->
              </div><!-- .megamenu -->
            </li>
            <li><a href='#'>Finances</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Financial Calendar</strong>
                    <ul>
                      <li><a href="#">Q1 2015</a></li>
                    </ul>
                  </div><!-- .col4 -->
                  <div class="col4">
                    <strong>End of Pay Period</strong>
                    <ul>
                      <li><a href="#">Current Procedure</a></li>
                      <li><a href="#">New Procedure</a></li>
                    </ul>
                  </div><!-- .col4 -->
                  <div class="col4">
                    <strong>Daily Finances</strong>
                    <ul>
                      <li><a href="#">Writing Checks</a></li>
                      <li><a href="#">Expenses</a></li>
                    </ul>
                  </div><!-- .col4 -->
                </div><!-- .megamenu-row -->
              </div><!-- .megamenu -->
            </li>
            <li><a href='#'>Development</a>
              <div class="megamenu">

                <div class="megamenu-row">
                  <h3>Egghead.io - AngularJS Series</h3>
                </div><!-- .megamenu-row -->
                <div class="megamenu-row">
                  <div class="col4">
                    <strong><a href="https://egghead.io/series/angularjs-app-from-scratch-getting-started">Building an Angular App</a></strong>
                    <ul>
                      <li><a href='/building-an-angular-app-eggly-introduction/'>Eggly Introduction</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-bootstrapping/'>Bootstrapping</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-controllers/'>Controllers</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-filters/'>Filters</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-simple-states/'>Simple States</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-add-a-bookmark-with-ng-submit-and-ng-model/'>Adding bookmarks</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-editing-a-bookmark-with-ng-model-and-a-controller/'>Editing a bookmarks</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-deleting-an-item-from-a-collection/'>Deleting from collection</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/building-an-angular-app-eggly-review/'>Eggly Review</a><i class="fa fa-check-circle-o"></i></li>
                    </ul>
                  </div><!-- .col4 -->
                  <div class="col4">
                    <strong><a href="https://egghead.io/series/angularjs-application-architecture">AngularJS Architecture</a></strong>
                    <ul>
                      <li><a href='/angularjs-architecture-series-introduction'>Architecture Introduction</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-file-structure'>File Structure</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-using-submodules'>Using Sub-Modules</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-basic-state-with-ui-router'>Basic State with ui-router</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-using-ui-routers-named-views'>Using ui-router's named views</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-navigating-between-states-with-ui-router'>Navigating between states</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-prefer-the-controller-as-syntax'>Controller as syntax</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/angularjs-architecture-refactor-to-a-data-model'>Refactor to a data model</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/'>Using $http to load JSON data</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Control your promises with $q</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Edit and Create Bookmark States</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Create Bookmark</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Edit Bookmark</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Delete Bookmark</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Animate state transitions with ui-router</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/'>Review</a><i class="fa fa-hand-o-left"></i></li>
                    </ul>
                  </div><!-- .col4 -->
                </div><!-- .megamenu-row -->

                <div class="megamenu-row">
                  <h3>Node.js</h3>
                </div><!-- .megamenu-row -->
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Egghead.io - NodeJS</strong>
                    <ul>
                      <li><a href='/node-js-what-are-commonjs-modules/'>What are CommonJS Modules?</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/node-js-npm/'>NPM</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/node-js-creating-demo-apis-with-json-server/'>Creating Demo API's</a><i class="fa fa-check-circle-o"></i></li>
                    </ul>
                  </div><!-- .col4 -->
                  <div class="col4">
                    <strong>Code Academy</strong>
                    <ul>
                      <li><a href='http://www.codecademy.com/en/tracks/mandrill'>Mandrill API</a></li>
                    </ul>
                  </div>
                </div><!-- .megamenu-row -->

                <div class="megamenu-row">
                  <h3 class="col12">Pluralsight - MEAN Stack</h3>
                </div><!-- .megamenu-row -->
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Building Angular.js + Node + MEAN</strong>
                    <ul>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction/">Course Intro</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction-prerequisites/">Prerequisites</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-course-introduction-versions/">Versions</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton/">Introduction</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-git-and-package-json/">Git & package.json</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-client-side-dependencies-with-bower/">Client-side dependencies with Bower</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-the-node-application/">Creating the Node Application</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-adding-stylus/">Adding Stylus</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-a-layout/">Creating a Layout</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-creating-the-angular-application/">Creating the Angular Application</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-adding-mongodb/">Adding MongoDB</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-displaying-data-in-a-view/">Displaying Data in a View</a></li>
                      <li><a href="/building-angular-js-and-node-js-with-the-mean-stack-create-a-walking-skeleton-summary/">Summary</a></li>
                    </ul>
                  </div><!-- .col4 -->
                  <div class="col4">
                    <strong>AngularJS Patterns: Clean Code</strong>
                    <ul>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Course Introduction</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Separation of Concerns</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Organizing Your App</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Modules</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Readable Code and AngularJS</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Controller Patterns</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Annotations and Code Analysis</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Exception Handling</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href="http://www.pluralsight.com/courses/angularjs-patterns-clean-code">Using a Team Style Guide</a><i class="fa fa-hand-o-left"></i></li>
                    </ul>
                  </div><!-- .col4 -->
                </div><!-- .megamenu-row -->

                <div class="megamenu-row">
                  <h3 class="col12">Introduction to Mongoose for Node.js and MongoDB<i class="fa fa-hand-o-left"></i></h3>
                </div><!-- .megamenu-row -->
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Course Introduction</strong>
                    <ul>
                      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction/'>Introduction</a><i class="fa fa-check-circle-o"></i></li>
                      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-prerequisites/'>Prerequisites</a><i class="fa fa-hand-o-left"></i></li>
                      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-why-mongoose/'>Why Mongoose?</a></li>
                      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-our-demo-application/'>Our Demo App</a></li>
                      <li><a href='/intro-to-mongoose-for-node-js-and-mongodb-course-introduction-summary/'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>Setting up the Demo Application</strong>
                    <ul>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-introduction/'>Introduction</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-node-js-packages/'>Node.js Packages</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-helpful-tools/'>Helpful Tools</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-demo/'>Demo</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-summary/'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>MongoDB</strong>
                    <ul>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-introduction/'>Introduction</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-node-js-packages/'>Node.js Packages</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-helpful-tools/'>Helpful Tools</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-demo/'>Demo</a></li>
                      <li><a href='/introduction-to-mongoose-for-node-js-and-mongodb-setting-up-the-demo-application-summary/'>Summary</a></li>
                    </ul>
                  </div>
                </div><!-- .megamenu-row -->

                <div class="megamenu-row">
                  <div class="col4">
                    <strong>MongoDB</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>Hosting Options</a></li>
                      <li><a href='//'>The Daily Stand-up Database</a></li>
                      <li><a href='//'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>Building the Mongoose Schema</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>Comparison to RDBMS Schemas</a></li>
                      <li><a href='//'>Simple Schema Example</a></li>
                      <li><a href='//'>Allowed Data Types</a></li>
                      <li><a href='//'>More Complex Schema Example</a></li>
                      <li><a href='//'>Building Our Daily Stand-Up Schema</a></li>
                      <li><a href='//'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>Building a Model</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>Our First Model</a></li>
                      <li><a href='//'>Documents</a></li>
                      <li><a href='//'>Sub-Documents</a></li>
                      <li><a href='//'>Saving Documents</a></li>
                      <li><a href='//'>Summary</a></li>
                    </ul>
                  </div>
                </div><!-- .megamenu-row -->
                <div class="megamenu-row">
                  <div class="col4">
                    <strong>Queries</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>Documents and Their Helper Methods</a></li>
                      <li><a href='//'>Updating and Removing Documents</a></li>
                      <li><a href='//'>Querying Documents</a></li>
                      <li><a href='//'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>Validation</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>Built-In Validators</a></li>
                      <li><a href='//'>Introduction to Middleware</a></li>
                      <li><a href='//'>Custom Validators</a></li>
                      <li><a href='//'>Handling Validation Errors</a></li>
                      <li><a href='//'>Adding Validation to Our Application</a></li>
                      <li><a href='//'>Summary</a></li>
                    </ul>
                  </div>
                  <div class="col4">
                    <strong>Wrapping Things Up</strong>
                    <ul>
                      <li><a href='//'>Introduction</a></li>
                      <li><a href='//'>More Tools</a></li>
                      <li><a href='//'>Alternative Framework</a></li>
                      <li><a href='//'>Course Summary</a></li>
                    </ul>
                  </div>
                </div><!-- .megamenu-row -->

                <div class="megamenu-row">
                  <h3>Angular.js: Get Started</h3>
                </div><!-- .megamenu-row -->
              </div><!-- .megamenu -->
            </li>
          </ul>
        </div>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
