{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
        <div id="dl-menu" class="dl-menuwrapper">
          <button class="dl-trigger">Open Menu</button>
          <ul class="dl-menu">
            {{! This is the post loop - each post will be output using this markup }}
            <li><a href='#'>Building Angular.js + Node + MEAN</a>
            <li><a href='#'>All posts</a>
              <ul class="dl-submenu">
              {{#foreach posts}}
                <li>
                  <a href="{{url}}">{{{title}}}</a>
                </li>
              {{/foreach}}
              </ul>
            </li>
              <!-- <li><a href="#">Top Level</a>
                <ul class="dl-submenu">
                  <li><a href="#">Men</a>
                    <ul class="dl-submenu">
                      <li><a href="#">Shirts</a></li>
                      <li><a href="#">Jackets</a></li>
                      <li><a href="#">Chinos &amp; Trousers</a></li>
                      <li><a href="#">Jeans</a></li>
                      <li><a href="#">T-Shirts</a></li>
                      <li><a href="#">Underwear</a></li>
                    </ul>
                  </li>
                </ul>
              </li> -->
          </ul>
        </div><!-- /dl-menuwrapper -->
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
